:root {
    --title-size: 2rem;
    --artist-size: 2rem;
    --counter-size: 3rem;
    --log-size: 1.5rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;

    display: flex;
    flex-flow: column nowrap;

    background-color: #30343f;
    /* zoom: 200%; */
}

.title {
    font-weight: 700;
    font-size: var(--title-size);
    color: #fff;
}

.artist {
    font-weight: 500;
    font-size: var(--artist-size);
    font-style: italic;
    color: #fff;
}

#counter {
    position: relative;
    width: min-content;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 calc(var(--counter-size) / 4);
    margin: 0 calc(var(--counter-size) / -4);
    gap: calc(var(--counter-size) / 8);
    height: var(--counter-size);
    overflow-y: hidden;

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        white 10%,
        white 90%,
        transparent 100%
    );
}

.counter-column {
    display: flex;
    width: min-content;
    flex-flow: column nowrap;
}

.counter-digit {
    text-align: center;
    line-height: var(--counter-size);
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: 800;
    font-size: var(--counter-size);

    color: #ff0;
    text-shadow:
        0 0 calc(var(--counter-size) / 8) #ff0,
        0 0 calc(var(--counter-size) / 6) #e71,
        #000c calc(var(--counter-size) / 10) calc(var(--counter-size) / -20)
            calc(var(--counter-size) / 40);
}

.combo {
    font-weight: 600;
    font-size: calc(var(--counter-size) / 2.5);
    /* color: #fff; */
    color: #ff0;
    text-shadow:
        0 0 calc(var(--counter-size) / 16) #ff0,
        0 0 calc(var(--counter-size) / 12) #e71,
        #000c calc(var(--counter-size) / 20) calc(var(--counter-size) / -40)
            calc(var(--counter-size) / 40);
}

#combo {
    letter-spacing: calc(var(--counter-size) / 20);
}

#log {
    display: flex;
    flex-flow: column nowrap;
    max-height: 0;
    overflow: hidden;

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        white 25%,
        white 95%,
        transparent 100%
    );
}

#log span {
    height: var(--log-size);
    flex-shrink: 0;
    line-height: var(--log-size);
    font-weight: 600;
    font-size: var(--log-size);
}

.perfectplus {
    color: #fcf;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #fcf,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}

.perfect {
    color: #0ff;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #0ff,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}

.great {
    color: #0f0;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #0f0,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}

.good {
    color: #ff0;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #ff0,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}

.okay {
    color: #fa0;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #fa0,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}

.miss {
    color: #f04;
    text-shadow:
        0 0 calc(var(--log-size) / 8) #f04,
        #000c calc(var(--log-size) / 10) calc(var(--log-size) / 20)
            calc(var(--log-size) / 40);
}
